<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <h1>My Personal Blog</h1>
    {% if user.is_authenticated %}
      <div class="d-flex">
        <a style="margin: 0 10px;" href="{% url 'blog_index' %}">Home</a>
        <a style="margin: 0 10px;" href="{% url 'user_blogs' %}">My Blogs</a>
        <a style="margin: 0 10px;" href="{% url 'create_blog' %}">Create</a>
        <a style="margin: 0 10px;" href="{% url 'logout' %}">Logout</a>
      </div>
      <hr>
    {% endif %}  
    
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
  </body>
</html>